body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header{
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  */
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: blue;
  color: white;
  margin: 0;
}

.column_1{
  display: flex;
  flex-direction: column;
  /*flex-basis: 20%; /* 20% of width */
  width: 15%;
  flex-wrap: wrap;
  /*align-items: flex-end;*/
  /*text-align: right;*/
  padding-left: 1.0em;
  padding-right: 1.0em;

  border-right: solid #ffc107;
  border-width: 0.2em;
}
.column_2{
  display: flex;
  flex-direction: row; /* to stack horizontally first then vertical shift down when not enough space */
  /*flex-basis: 80%; /* 80% of width */
  width: 85%;
  flex-wrap: wrap;

  padding-left: 0.5em;
}

#city_search{
  border-bottom: solid #000000;
}
form input{
  width: 100%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
  margin-bottom: 10px;
}

form button{
  width: 100%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;  
  margin-bottom: 10px;
}

ul{
  list-style-type: none;
  background-color: yellowgreen;
  padding: 0; /* remove default left padding */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  /*margin: 0;*/
}



